.wrapForm {
  display: grid;
  max-width: 938px;
  height: auto;
  background-color: #FFF;
  margin: 26px auto 117px auto;
  border-radius: 6px;
  padding: 48px 32px;;
}

.wrapBtn {
  width: 319px;
}

.spin {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}