.wrapper {
  display: grid;
  row-gap: 26px;
  margin: 26px 0;
}

.pagination {
  margin: 0 auto;
}

.error {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #0000009b;
  text-align: center;
  margin: 0 auto;
}